
<p>

	Person rec deleted?:  <%= @person_deleted %> <br/>
	Src Relations Deleted:  <%= @src_rel_deleted %> <br/>
	Tgt Relations Deleted:  <%= @tgt_rel_deleted %> <br/>
	Friend Records Deleted:  <%= @pf_deleted %> <br/>

</p>