
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<style>
  html, body {
    margin:0;
    padding:0;
    height:100%;
    width:100%;
  }
  #map-canvas {
    margin:0;
    padding:0;
    height:600px;
    width:100%;
  }
</style>


<script>
  var map;
  var clt_marker, mts_marker;
  var clt = new google.maps.LatLng(35.2269, -80.8433);
  var mts = new google.maps.LatLng(43.4856, -73.1182);
	var tmpmarker;
	var tmpcircle;

  function initialize() {

  	$('#clear-search').click(function() {
  		if(typeof(tmpmarker) != 'undefined') tmpmarker.setMap(null);
	  	if(typeof(tmpcircle) != 'undefined') tmpcircle.setMap(null);
	  	$('#map-data').html('Click a point on the map to view nearby locations...');
  	});

  	$('#places-search').click(function() {

  		var meters_radius = $('#places-radius').val()*1;
  		var places_keyword = $('#places-keyword').val();

  		try
  		{
	  		get_nearby_places(tmpmarker.position.lat(), tmpmarker.position.lng(), 5000, places_keyword);
  		}
  		catch(err)
  		{
  			alert('Please click a location on the map to perform a POI search');
  		}

  	});

    var mapOptions = {
      zoom: 6,
      center: clt,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);

    // clt_marker = new google.maps.Marker({
    // 	map:map,
    // 	draggable:true,
    // 	animation: google.maps.Animation.DROP,
    // 	position: clt
    // });

    // mts_marker = new google.maps.Marker({
    // 	map:map,
    // 	draggable:true,
    // 	animation: google.maps.Animation.DROP,
    // 	position: mts
    // });

    google.maps.event.addListener(map, 'click', function(evt) {
      // map.setZoom(8);
      // map.setCenter(clt_marker.getPosition());
      // alert(JSON.stringify(evt));
      // alert(evt.latLng.lat());
      if(typeof(tmpmarker) != 'undefined') tmpmarker.setMap(null);
	  	if(typeof(tmpcircle) != 'undefined') tmpcircle.setMap(null);

      tmpmarker = new google.maps.Marker({
      	map:map,
	    	draggable:true,
	    	animation: google.maps.Animation.DROP,
	    	position: evt.latLng
      });

      var search_radius = $('#search-radius').val()*1;
      var circle_radius = ((search_radius*5280*12)*2.54)/100

      tmpcircle = new google.maps.Circle({
      	strokeColor: '#FF0000',
      	strokeOpacity: 0.8,
	      strokeWeight: 2,
	      fillColor: '#FF0000',
	      fillOpacity: 0.35,
	      map: map,
	      center: evt.latLng,
	      radius: circle_radius //50000 // 50 kilometers
      });

      
      var place_data = {
      	'lat':evt.latLng.lat(),
      	'lng':evt.latLng.lng(),
      	'search_radius': search_radius
      };



      $.getJSON('gnp.json', place_data, function(data) {


      	var div_html = ''

      	$.each(data, function(index, value) {
      		div_html += 'Name: ' + value['name'] + '<br/>';
      		div_html += 'Type: ' + value['type_desc'] + '<br/><br/>';
      	});

        if(typeof(data) == 'undefined' || data.length == 0)
        {
          div_html = 'No locations found within the entered radius of the clicked point on the map'
        }

      	$('#map-data').html(div_html);

      // 	setTimeout(function() {

	     //  	tmpmarker.setMap(null);
			  	// tmpcircle.setMap(null);
			  	// $('#map-data').html('');

      // 	}, 2000);


			});

    });

  }

  google.maps.event.addDomListener(window, 'load', initialize);

</script>


<div id='map-search-radius' class='row'>
  <fieldset>
    <legend>Search POI</legend>

    <div class='large-4 columns'>
      <label>Radius in meters</label>
      <input type='text' id='places-radius' placeholder='Radius in Meters...' value='5000'/>
    </div>
    <div class='large-4 columns'>
      <label>Search keyword</label>
      <input type='text' id='places-keyword' placeholder='enter a keyword...' value=''/>
    </div>
    <div class='large-4 columns'>
      <label>&nbsp;</label>
      <input id='places-search' type='button' class='button prefix' value='POI Search'/>
    </div>
  </fieldset>
</div>


<div id='map-search-radius' class='row'>
  <fieldset>
    <legend>Locaions Search Radius in Miles</legend>

    <div class='large-4 columns'>
      <label>Search radius in miles</label>
      <input type='text' id='search-radius' placeholder='search radius...' value='100'/>
    </div>

    <div class='large-4 columns'>
      <label>&nbsp;</label>
      <input id='clear-search' type='button' class='button prefix' value='Clear Search'/>
    </div>

  </fieldset>
</div>

<div id='map_outer_container'>
  <div id="map-canvas"></div>
  <div id='map-data' class='location_results'>Click a point on the map to view nearby locations...</div>
</div>

